<h1>Capstone - Seattle Traffic Accident Severity Prediction</h1>
<h2>3. Data</h2>

The data that will be used to conduct the study is based on the collection of traffic accidents from 2004 to present in the city of Seattle, Washington. The data resource is updated weekly by the Seattle Department of Transportation.
This dataset (.csv file), with 194,673 rows and 38 columns, contains information such as:
* Severity of the accident
* Type of collision
* Location accident
* Number of vehicles involved
* Weather conditions
* Road conditions
* Any pedestrians involved
* etc

There are some features that are able to determine potentially dangerous places where serious accidents are most likely to occur, for example, road conditions, light conditions, types of junctions and then add the weather conditions 
which increases the risk of accident.
Finally, the dataset contains a column with the severity code for each accident that ranges from 0 (unknown) to 3 (fatality).

This study is focused on predicting the level of severity of the collision and being able to prevent new accidents from taking place at potentially dangerous intersections by placing traffic signs to prevent them. To do this, we can ask some question such as:
* How do road and weather conditions affect accident severity in some specific locations?
* Is it necessary to invest in fixing the roads to prevent accidents?

We hope to be able to answer these questions and more in this project.

<h3>3.1 Sources</h3>

The dataset can be found [here](https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv)

<h3>3.2 Metadata</h3>

The metadata can be found [here](https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Metadata.pdf)

<h3>3.3 Display the data</h3>

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('Data-Collisions.csv')
df.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N